### Tugas
___Load_ `tugas.csv` pada folder `data`__. Jadikan kolom `datetime` sebagai _index_

In [10]:
### jawaban anda disini
import pandas as pd
df_tugas = pd.read_csv('data/tugas.csv', index_col='datetime')
df_tugas.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
datetime,,,,,,,,,,,
2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

1. Dengan `map`, ubah nilai pada kolom berikut: 
 * `season`: 1 menjadi "_summer_", 2 menjadi "_autumn_", 3 menjadi "_winter_", 4 menjadi "_rainy_"
 * `holiday`: 0 untuk "_non-holiday_", 1 untuk "_holiday_"
 * `workingday`: 0 untuk "_breakday_", 1 untuk "_workingday_"
 * `weather`: 1 menjadi "_clear_", 2 menjadi "_cloudy_", 3 menjadi "_rainy_", 4 menjadi "_stormy_"

In [14]:
### jawaban anda disini
df_tugas['season'] = df_tugas['season'].map({1:"summer",2:'autumn',3:'winter',4:'rainy'})
df_tugas['holiday'] = df_tugas['holiday'].map({0:'non-holiday',1:'holiday'})
df_tugas['workingday'] = df_tugas['workingday'].map({0:'breakday',1:'workingday'})
df_tugas['weather'] = df_tugas['weather'].map({1:'clear',2:'cloudy',3:'rainy',4:'stormy'})
df_tugas.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
datetime,,,,,,,,,,,
2011-01-01 00:00:00,summer,non-holiday,breakday,clear,9.84,14.395,81,0.0,3,13,16
2011-01-01 01:00:00,summer,non-holiday,breakday,clear,9.02,13.635,80,0.0,8,32,40
2011-01-01 02:00:00,summer,non-holiday,breakday,clear,9.02,13.635,80,0.0,5,27,32
2011-01-01 03:00:00,summer,non-holiday,breakday,clear,9.84,14.395,75,0.0,3,10,13
2011-01-01 04:00:00,summer,non-holiday,breakday,clear,9.84,14.395,75,0.0,0,1,1

2. Dengan `applymap` dibantu dengan _slicing_ kolom, ubah seluruh nilai numerik dengan nilai kuadratnya menggunakan lambda

In [20]:
### jawaban anda disini
#print (df_tugas['temp'].dtype)
df_tugas.applymap(lambda x: x**2 if type(x) == float else x)
df_tugas.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
datetime,,,,,,,,,,,
2011-01-01 00:00:00,summer,non-holiday,breakday,clear,9.84,14.395,81,0.0,3,13,16
2011-01-01 01:00:00,summer,non-holiday,breakday,clear,9.02,13.635,80,0.0,8,32,40
2011-01-01 02:00:00,summer,non-holiday,breakday,clear,9.02,13.635,80,0.0,5,27,32
2011-01-01 03:00:00,summer,non-holiday,breakday,clear,9.84,14.395,75,0.0,3,10,13
2011-01-01 04:00:00,summer,non-holiday,breakday,clear,9.84,14.395,75,0.0,0,1,1

3. Gunakan fungsi _squareroot_ dari Numpy `np.sqrt` untuk mengubah semua data numerik dengan `apply`

In [22]:
### jawaban anda disini
import numpy as np
test = df_tugas.apply(lambda x: np.sqrt if type(x) == float else x)
test

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
datetime,,,,,,,,,,,
2011-01-01 00:00:00,summer,non-holiday,breakday,clear,9.84,14.395,81,0.0000,3,13,16
2011-01-01 01:00:00,summer,non-holiday,breakday,clear,9.02,13.635,80,0.0000,8,32,40
2011-01-01 02:00:00,summer,non-holiday,breakday,clear,9.02,13.635,80,0.0000,5,27,32
2011-01-01 03:00:00,summer,non-holiday,breakday,clear,9.84,14.395,75,0.0000,3,10,13
2011-01-01 04:00:00,summer,non-holiday,breakday,clear,9.84,14.395,75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
2012-12-19 19:00:00,rainy,non-holiday,workingday,clear,15.58,19.695,50,26.0027,7,329,336
2012-12-19 20:00:00,rainy,non-holiday,workingday,clear,14.76,17.425,57,15.0013,10,231,241
2012-12-19 21:00:00,rainy,non-holiday,workingday,clear,13.94,15.910,61,15.0013,4,164,168
2012-12-19 22:00:00,rainy,non-holiday,workingday,clear,13.94,17.425,61,6.0032,12,117,129
2012-12-19 23:00:00,rainy,non-holiday,workingday,clear,13.12,16.665,66,8.9981,4,84,88

4. _Aggregate_ `data` berdasarkan `season`, `holiday`, dan `weather` untuk mendapatkan nilai maksimum dan minimum setiap kolom

In [26]:
### jawaban anda disini
df_tugas.groupby(['season','holiday','weather']).agg([np.min,np.max])

                            workingday               temp          atemp  \
                                  amin        amax   amin   amax    amin
season holiday     weather
autumn holiday     clear      breakday    breakday  14.76  32.80  18.180
                   cloudy     breakday    breakday  14.76  22.96  17.425
       non-holiday clear      breakday  workingday   9.84  38.54  12.120
                   cloudy     breakday  workingday   9.84  34.44  11.365
                   rainy      breakday  workingday   9.84  33.62  11.365
rainy  holiday     clear      breakday    breakday  11.48  30.34  12.880
                   cloudy     breakday    breakday  13.94  29.52  16.665
                   rainy      breakday    breakday  16.40  22.14  20.455
       non-holiday clear      breakday  workingday   5.74  30.34   7.575
                   cloudy     breakday  workingday   6.56  29.52   9.090
                   rainy      breakday  workingday   9.84  26.24   9.850
summer holiday     clear      breakday    breakday   4.10  16.40   6.060
                   cloudy     breakday    breakday   5.74  12.30   6.820
                   rainy      breakday    breakday   5.74  10.66   6.060
       non-holiday clear      breakday  workingday   0.82  29.52   0.760
                   cloudy     breakday  workingday   3.28  29.52   2.275
                   rainy      breakday  workingday   3.28  22.96   2.275
                   stormy   workingday  workingday   8.20   8.20  11.365
winter holiday     clear      breakday    breakday  26.24  37.72  28.790
                   cloudy     breakday    breakday  24.60  31.98  27.275
                   rainy      breakday    breakday  22.96  27.88  26.515
       non-holiday clear      breakday  workingday  15.58  41.00  12.120
                   cloudy     breakday  workingday  18.86  39.36  12.120
                   rainy      breakday  workingday  19.68  37.72  12.120

                                   humidity      windspeed          casual  \
                              amax     amin amax      amin     amax   amin
season holiday     weather
autumn holiday     clear    34.850       31   83    0.0000  32.9975      0
                   cloudy   26.515       63   83   11.0014  26.0027      8
       non-holiday clear    43.940       16  100    0.0000  47.9988      0
                   cloudy   40.150       21  100    0.0000  40.9973      0
                   rainy    39.395       35  100    0.0000  39.0007      0
rainy  holiday     clear    32.575       34   94    0.0000  36.9974      0
                   cloudy   32.575       42   88    0.0000  19.0012      1
                   rainy    25.760       58   76   12.9980  16.9979      6
       non-holiday clear    33.335       16  100    0.0000  36.9974      0
                   cloudy   34.090       28  100    0.0000  39.0007      0
                   rainy    30.305       48  100    0.0000  43.0006      0
summer holiday     clear    20.455       32   60    0.0000  32.9975      0
                   cloudy   13.635       41   59    7.0015  27.9993      0
                   rainy    11.365       59   93   12.9980  19.9995      0
       non-holiday clear    32.575        8  100    0.0000  51.9987      0
                   cloudy   32.575        0  100    0.0000  47.9988      0
                   rainy    26.515        0  100    0.0000  43.9989      0
                   stormy   11.365       86   86    6.0032   6.0032      6
winter holiday     clear    42.425       35   94    0.0000  19.9995      1
                   cloudy   36.365       43   94    0.0000  39.0007      1
                   rainy    31.820       74   94    7.0015  26.0027      3
       non-holiday clear    45.455       17  100    0.0000  35.0008      0
                   cloudy   43.180       24  100    0.0000  43.0006      0
                   rainy    44.695       35  100    0.0000  56.9969      0

                                registered      count
                           amax       amin amax  amin amax
season holiday     weather
autumn holiday     clear    115          3  601     3  712
                   cloudy    64         56  549    64  597
       non-holiday clear    361          0  782     1  873
                   cloudy   311          1  726     1  831
                   rainy    241          1  688     1  782
rainy  holiday     clear    147          3  530     4  596
                   cloudy   164         60  416    63  497
                   rainy     76        101  316   107  377
       non-holiday clear    362          1  857     1  948
                   cloudy   310          1  788     1  890
                   rainy    131          1  791     1  856
summer holiday     clear     41          3  175     3  202
                   cloudy    26          1  202     1  228
                   rainy      4          3   58     4   60
       non-holiday clear    367          0  681     1  801
                   cloudy   226          0  623     1  712
                   rainy     31          0  505     1  520
                   stormy     6        158  158   164  164
winter holiday     clear    240          3  362     4  584
                   cloudy   242          3  357     4  566
                   rainy     63         17  123    20  175
       non-holiday clear    327          0  886     1  977
                   cloudy   350          1  751     2  868
                   rainy    263          0  786     1  891

5. _Aggregate_ `data` berdasarkan `season`, dan `weather` dengan fungsi berikut, dan ubah nama kolomnya:
 * _Mean_ untuk `temp` menjadi `mean_temperature`
 * _Min_ dan _max_ untuk `count` menjadi `minimal` dan `maximal`
 * Total kuadrat dari `humidity` dengan fungsi sendiri atau lambda, menjadi `humidity peak`

In [53]:
### jawaban anda disini
df_tugasgroup = df_tugas.groupby(['season','weather']).agg({'temp': np.mean,
                                            'count': [np.min, np.max],
                                            'humidity': lambda x: np.sum(x ** 2)})
df_tugasgroup.columns = ['mean_temperature','minimal','maximal','humidity peak']
df_tugasgroup

                mean_temperature  minimal  maximal  humidity peak
season weather
autumn clear           23.180822        1      873        6084783
       cloudy          22.490932        1      831        3627235
       rainy           21.001518        1      782        1521011
rainy  clear           16.235711        1      948        6810448
       cloudy          16.970037        1      890        4350684
       rainy           18.626756        1      856        1678187
summer clear           12.539147        1      801        4866335
       cloudy          12.626853        1      712        3339059
       rainy           12.152322        1      520        1391426
       stormy           8.200000      164      164           7396
winter clear           29.227264        1      977        7614433
       cloudy          28.048344        2      868        3061089
       rainy           26.788040        1      891        1372066

6. Kelompokkan data berdasarkan semua kolom kategorik. Kemudian, untuk tiap kolom numerik, transformasikan semua data sehingga nilainya berubah menjadi rasio antara mean dan median. (Boleh membuat _function_ atau menggunakan _lambda_)

In [54]:
### jawaban anda disini
df_tugas.groupby(['season','holiday','workingday','weather']).transform(lambda x: np.mean(x) / np.median(x))

,temp,atemp,humidity,windspeed,casual,registered,count
datetime,,,,,,,
2011-01-01 00:00:00,1.013889,1.047425,1.070868,1.015050,3.405357,1.315649,1.580169
2011-01-01 01:00:00,1.013889,1.047425,1.070868,1.015050,3.405357,1.315649,1.580169
2011-01-01 02:00:00,1.013889,1.047425,1.070868,1.015050,3.405357,1.315649,1.580169
2011-01-01 03:00:00,1.013889,1.047425,1.070868,1.015050,3.405357,1.315649,1.580169
2011-01-01 04:00:00,1.013889,1.047425,1.070868,1.015050,3.405357,1.315649,1.580169
...,...,...,...,...,...,...,...
2012-12-19 19:00:00,1.054882,1.009481,1.021933,1.035393,1.540361,1.229346,1.185843
2012-12-19 20:00:00,1.054882,1.009481,1.021933,1.035393,1.540361,1.229346,1.185843
2012-12-19 21:00:00,1.054882,1.009481,1.021933,1.035393,1.540361,1.229346,1.185843
2012-12-19 22:00:00,1.054882,1.009481,1.021933,1.035393,1.540361,1.229346,1.185843
2012-12-19 23:00:00,1.054882,1.009481,1.021933,1.035393,1.540361,1.229346,1.185843

7. Budi adalah seorang analis data junior yang bekerja di sebuah perusahaan startap. Suatu hari, timnya ingin menganalisis data berupa string. Namun, pada proses analisis data tersebut karakter yang boleh muncul hanya (a-z, A-Z, dan 0-9). Budi merasa kebingungan untuk mengecek hal tersebut. Buatlah fungsi dengan menggunakan Regex untuk membantu Budi. Berikan juga defense agar jika dimasukkan integer menjadi tetap benar.

In [88]:
import re
def cek_karakter(string):
    kata = str(string)
    pattern = "[\W]" # Kode anda disini
    return re.search(pattern, kata) # True jika hanya mengandung karakter tsb, False jika tidak
        
print(cek_karakter("ABCDEFabcdef123450")) # Should be True
print(cek_karakter("LoremIpsumDolorSitAmet")) # Should be True
print(cek_karakter(81213177)) # Should be True
print(cek_karakter("Budi punya 5 mangga + 2 jambu")) # Should be False

None
None
None
<re.Match object; span=(4, 5), match=' '>

8. Buatlah fungsi untuk mengecek apakah sebuah urutan string terdiri dari huruf kapital yang diikuti oleh huruf kecil.

In [90]:
import re
def cek_teks(teks):
    pattern = "^[A-Z][a-z]" # Kode anda disini
    return re.search(pattern, teks) # True jika hanya mengandung karakter tsb, False jika tidak 
    
print(cek_teks("AaBbCc")) # True
print(cek_teks("Python")) # True
print(cek_teks("linux")) # False
print(cek_teks("PACMANN")) # False

<re.Match object; span=(0, 2), match='Aa'>
<re.Match object; span=(0, 2), match='Py'>
None
None

9. Terkadang, dalam proses pengolahan data berupa teks kita hanya ingin mengambil data teks yang mengandung kata tertentu. Buatlah fungsi yang mengecek apakah suatu teks memiliki kata kunci yang dicari.

In [91]:
# Boleh memakai regex maupun tidak
def cari_kata(kalimat,kata):
    pattern = kata # Kode anda disini
    return re.search(pattern, kalimat) # True jika hanya mengandung karakter tsb, False jika tidak 

print(cari_kata('budi membeli permen', 'permen')) # True
print(cari_kata('Jumlah pasien corona di jakarta semakin meningkat', 'surabaya')) # False

<re.Match object; span=(13, 19), match='permen'>
None